body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-montserrat: Montserrat;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-5xl: 24px;
  --font-size-lg-6: 18.6px;
  --font-size-xs: 12px;
  --font-size-xl: 20px;
  --font-size-3xs: 10px;

  /* Colors */
  --color-white: #fff;
  --color-gray-200: #858484;
  --color-gray-300: #1e1e1e;
  --color-gray-100: #160f0d;
  --color-dimgray-200: #505050;
  --color-dimgray-300: #4f4f4f;
  --color-whitesmoke-100: #f9f9f9;
  --color-whitesmoke-200: #e9e9e9;
  --color-orangered-100: #ff3d00;
  --color-orangered-200: #e83d07;
  --color-gainsboro: #dbdbdb;
  --color-green: #05961b;
  --color-firebrick: #c10707;
  --color-lightsteelblue: #cdd5fd;
  --color-honeydew: #cdf0d3;
  --color-lemonchiffon: #fdf5cc;
  --color-darkslategray: #2e2e2e;
  --color-darkgray: #979797;

  /* Gaps */
  --gap-11xs: 2px;
  --gap-3xs: 10px;
  --gap-5xs: 8px;
  --gap-base: 16px;
  --gap-21xl: 40px;
  --gap-10xs-3: 2.3px;
  --gap-240xl: 259px;
  --gap-6xl: 25px;
  --gap-9xs: 4px;
  --gap-5xl: 24px;
  --gap-xs: 12px;

  /* Paddings */
  --padding-9xs: 4px;
  --padding-base: 16px;
  --padding-lgi: 19px;
  --padding-29xl: 48px;
  --padding-45xl: 64px;
  --padding-5xl: 24px;
  --padding-11xs: 2px;
  --padding-xs: 12px;
  --padding-13xl: 32px;
  --padding-5xs: 8px;
  --padding-7xs: 6px;

  /* border radiuses */
  --br-8xs: 5px;
  --br-sm-2: 13.2px;
  --br-3xs: 10px;
}
