body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-montserrat: Montserrat;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-sm: 14px;
  --font-size-3xs: 10px;
  --font-size-5xs: 8px;
  --font-size-xs: 12px;
  --font-size-5xl: 24px;
  --font-size-xl: 20px;

  /* Colors */
  --color-white: #fff;
  --color-whitesmoke-100: #f9f9f9;
  --color-gray: #160f0d;
  --color-orangered-100: #ff3d00;
  --color-orangered-200: #e83d07;
  --color-dimgray-100: #505050;
  --color-dimgray-200: #4f4f4f;
  --color-gainsboro: #dbdbdb;
  --color-darkslategray: #2e2e2e;
  --color-darkgray: #979797;

  /* Gaps */
  --gap-base: 16px;
  --gap-10xs-3: 2.3px;
  --gap-11xs: 2px;
  --gap-5xs: 8px;
  --gap-5xl: 24px;
  --gap-3xs: 10px;

  /* Paddings */
  --padding-lgi: 19px;
  --padding-29xl: 48px;
  --padding-5xs: 8px;
  --padding-base: 16px;
  --padding-7xs: 6px;

  /* border radiuses */
  --br-sm-2: 13.2px;
  --br-3xs: 10px;
  --br-8xs: 5px;
}
